.code {
  display: block;
  padding: 10px;
  color: #555;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.code i {
  font-style: normal;
}

.code .red {
  color: #f81d22;
}

.code .blue {
  color: #008dff;
}

.code .green {
  color: #0b8235;
}